# latex ignores
*.aux
*.log
*.nav
*.out
*.snm
*.toc
*.vrb
*.bbl
*.blg
*.lof
*.lot
*.ilg
*.ind
*.nlo
*.nls
*.tdo
*.gz
*.gz(busy)
*.depend
*.fls
*.fdb_latexmk
*.dvi
*.acn
*.glo
*.ist
*.pyg
*.acr
*.alg
*.glg
*.gls
*.lnk
*.bak

# general nonsense
Thumbs.db
.DS_Store
*.pdf
_minted-ErlangHandbook/
